 <head>
    <link rel="stylesheet" href="style.css">
    <title> Aiden Tran's Coding Colletion </title>
<link rel="icon" type="image/x-icon" href="https://cdn.vox-cdn.com/thumbor/PzidjXAPw5kMOXygTMEuhb634MM=/11x17:1898x1056/1200x800/filters:focal(807x387:1113x693)/cdn.vox-cdn.com/uploads/chorus_image/image/72921759/vlcsnap_2023_12_01_10h37m31s394.0.jpg">  </head>

</head>
   <nav>
  <li><a href = "index.html"> HOME </a> </li>
  <li><a href="Dataset.html"> Dataset App </a> </li>
  <li><a href= "PokemonQuiz.html"> Pokemon Quiz App </a> </li>
       <li><a href = "Multiscreen.html"> Multiscreen App </a> </li>
</nav>
  <br>
  <br>
body {background-color: lightblue;}
nav{
  list-style-type: none;
  background-color: #9DC3C2;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding:20px;
  color: #283D3B;
  text-align: center;
}

li{
  display: inline;
  padding: 40px;
}
li:hover {
  background-color: #1B998B;
}

a{
  text-decoration: none;
  color: #283D3B;
}
<br>
<br>
